{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comprar</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/catalogo_productos.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/b06d3acf28.js" crossorigin="anonymous"></script>
  </head>
  <style>
    body {
        background-color: var(--color-fondo);
    }
</style>
  <body>
    <nav class="navbar fixed-top" style="background-color: var(--color-fondo); height: 15%;display:flex; justify-content: flex-end;position: relative; ">
      
      <div class="navega flex-colum flex-md-row" style="display:flex;justify-content:space-around;  width:72%;align-items:center">
          <a class="navbar-brand mr-auto" style="top: 0; text-align: center;" href="{% url 'inicio' %}">
              <img src="{% static 'images/Logokatta´s_sin fondo.webp' %}" style="top: 0; max-height: 100px; margin: auto;" />          
          </a>
          <div class="icono-carrito" style="color: white; font-size:20px; ">
            <a style="color:white" href="{% url 'carrito' %}"><i class="fa-solid fa-cart-shopping"></i></a>
            <!-- Contador del carrito -->            
            <span class="contador-carrito">{{n_productos}}</span>            
        </div>
      </div>   
      </div>
  </nav>

  <a style="color:black; " href="{% url 'inicio' %}"><i class="fa-solid fa-arrow-left" style="position:relative;left:18px;top:18px;cursor: pointer; font-size:25px"></i></a>
    
    {% if notificacion == 0 %}
    <script>
      Swal.fire({
          icon: "success",
          title: "¡Hurra!",
          text: "¡Tu compra ha sido exitosa!",
          });
    </script>
    {% elif notificacion == 1 %}
    <script>
      Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡No haz agregado nada al carrito!",
          });
    </script>
    {% endif %}
      


    

    

    <div class="productos" style="margin-top:30px">
      
        {% for producto in entidad %}
          

        <div class="tarjeta" style="border: 1px solid #ccc; width: 38%; display: grid; 
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
        grid-auto-rows: minmax(100px, auto); height: 52vh; margin:10px;border-top-left-radius: 20px; border-top-right-radius: 20px;">
            
          <div class="titulo" style=" grid-column: 1 / 5; border-top-left-radius: 20px; border-top-right-radius: 20px;
          grid-row: 1; display: flex; align-items: center; justify-content:center; background-color: #0F0F0F; color: white ">
            <h1 style="font-weight:bold">{{producto.nombre_producto}}</h1>
          </div>    
          <div class="descripcion" style=" grid-column: 1/3;
          grid-row: 2 / 4; padding: 15px;overflow: auto; text-align: justify; background-color: white">
            <p>{{producto.descripcion}}</p>
          </div>
          <div class="imagen" style="grid-column: 3 / 5;
          grid-row: 2 / 4; display:flex; align-items:center; padding:10px">
            <img src="{{producto.foto_p.url}}" style="max-width: 100%; max-height: 100%; width: auto; height: auto; border-radius: 20px">
          </div>
          
          <div class="boton" style="grid-column: 1 /5; margin:0px;padding:0px;
          grid-row: 4; display: flex; align-items: center; justify-content:space-around; border: 1px solid #ccc; background-color: #0F0F0F; color: white">
          <div >
          
          <p style="font-weight:bold; color: white; margin:0px">Precio:</p>
          <p style="font-weight:bold; color: white;margin:0px">$ {{producto.precio}}</p>
          </div>
          
          <div style="display:flex;flex-direction:column">
              <form action="{% url 'catalogo_productos' producto.id %}" method="post">
                {% csrf_token %}
              <label style="font-weight:bold;;color: white">Cantidad:</label>
              <input style="background: none; border: none; width: 40px; color: white" class="contadorNumero" type="number" id="contador" name="cantidad" value="0" min="1">
            </div>
            <input type="submit" class="btn btn-success" value="Agregar al carrito">
          </form> 
          </div>
          
    
        </div>



           
        {% endfor %}


        <div class="container" style="display: flex; justify-content: center; padding-top:20px;">
            <ul class="pagination" style="gap:5px">
                {% if page_obj.has_previous %}
                    <li><a class="btn btn-dark" href="?pagina=1">&laquo; Primera</a></li>
                    <li><a class="btn btn-dark" href="?pagina={{ entidad.previous_page_number }}">&lsaquo; Anterior</a></li>
                {% endif %}
                {% for num in entidad.paginator.page_range %}
                    {% if entidad.number == num %}
                        <li style="background-color: #078d65" class="btn btn-secondary"><span>{{ num }}</span></li>
                    {% else %}
                        <li><a style="background-color: #23434F" class="btn btn-dark" href="?pagina={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if entidad.has_next %}
                    <li><a style="background-color: #23434F" class="btn btn-dark" href="?pagina={{ entidad.next_page_number }}">Siguiente &rsaquo;</a></li>
                    <li><a style="background-color: #23434F" class="btn btn-dark" href="?pagina={{ entidad.paginator.num_pages }}">Última &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
            
            
            
              
        </div>
        <script src="carta.js"></script>
        
        <script
          src="https://kit.fontawesome.com/b06d3acf28.js"
          crossorigin="anonymous"
        ></script>
        <script src="{% static "js/catalogo_productos.js" %}"></script>
      </div>
    </div>
    </div>
  </body>
</html>
