{% extends "cliente/dashboard.html" %}

{% block title %}Productos{% endblock  %}

{% block content %}
<table id="datatable" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th style="border-top-left-radius: 10px;">Id</th>
            <th>Nombre Producto</th>
            <th>Precio</th>
            <th>Tamaño</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th style="border-top-right-radius: 10px;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí van los datos de los productos -->
        <tr>
            <td>Id del producto</td>
            <td>Nombre del producto</td>
            <td>Precio del producto</td>
            <td>Tamaño del producto</td>
            <td>Estado del producto</td>
            <td>Imagen del producto</td>
            <td>Acciones</td>
        </tr>
    </tbody>
</table>


{% endblock  %}