{% extends "cliente/dashboard.html" %}

{% block title %}Productos{% endblock %}

{% block username %}{{ datos.nombre }}{% endblock  %}

{% block content %}
<a href="{% url 'registrar_producto' %}" ><button type="button" class="btn btn-primary">Registrar insumos</button> </a>

<table id="datatable">
    <thead>
        <tr>
            <th class="cabecera">Nombre Producto</th>            
            <th class="cabecera">Tamaño</th>
            <th class="cabecera">Precio</th>
            <th class="cabecera">Estado</th>
            <th class="cabecera" style="border-top-right-radius: 10px;">Acciones</th>
        </tr>
    </thead>
    <tbody>
      
        {% for producto in entidad %}
        <tr>
          <td>{{producto.nombre_producto}}</td>
          <td>{{producto.tamaño}}</td>
          <td>{{producto.precio}}</td>      
          <td>{{producto.fk_estado.tipo_estado}}</td>      
          <td> <a  class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>             
            <a  class="btn btn-success"><i class="fa-solid fa-plus"></i></a></td>
        
          </tr>
        
        {% endfor %}
      


    </tbody>



    
</table>
{% endblock %}