{% extends "cliente/dashboard.html" %}

{% block title %}Insumos{% endblock %}

{% block username %}{{ datos.nombre }}{% endblock  %}

{% block content %}
<table id="datatable">
    <thead>
        <tr>
            <th class="cabecera" style="border-top-left-radius: 10px;">Id</th>
            <th class="cabecera">Nombre Insumo</th>
            <th class="cabecera">Ult. Fecha de entrada</th>
            <th class="cabecera">Fecha de vencimiento</th>
            <th class="cabecera">Cantidad Existente</th>
            <th class="cabecera">Categoria</th>
            <th class="cabecera">Estado</th>
            <th class="cabecera" style="border-top-right-radius: 10px;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tbody>
</table>
{% endblock %}