{% extends "cliente/dashboard.html" %}

{% block title %}Productos{% endblock %}

{% block username %}{{ datos.nombre }}{% endblock  %}

{% block content %}
<div style="display:flex; justify-content: space-between; align-items: flex-end">
  <h1 style="font-size: 50px; font-weight:bold">Productos</h1>
  <a href="{% url 'registrar_producto' %}" ><button type="button" class="btn btn-primary" style="margin-bottom: 15px; height:45px; background-color: #078d65">Registrar producto</button> </a>
</div>

<div class="grupoCards">
  <div class="cards1">
    <i class="fa-solid fa-cart-arrow-down"></i>
      <p>Productos registrados</p>

      <h1>{{n_productos}}</h1>
      

  </div>
  <div class="cards2">
    <i class="fa-solid fa-chart-simple"></i>
      <p>Productos disponibles</p>
      <h1>{{n_disponibles}}</h1>
      

  </div>
</div>


<table id="datatable">
    <thead style="background-color: #23434F">
        <tr>
            <th class="cabecera">Nombre Producto</th>            
            <th class="cabecera">Tamaño</th>
            <th class="cabecera">Precio</th>
            <th class="cabecera">Estado</th>
            <th class="cabecera">Foto</th>
            <th class="cabecera" style="border-top-right-radius: 10px;">Acciones</th>
        </tr>
    </thead>
    <tbody>
      
        {% for producto in entidad %}
        <tr>
          <td>{{producto.nombre_producto}}</td>
          <td>{{producto.tamaño}}</td>
          <td>{{producto.precio}}</td>      
          <td>{{producto.fk_estado.tipo_estado}}</td>      
          <td><img src="{{producto.foto_p.url}}" width="50px" height="25px"></td>      
          <td> 
            <a href="{% url 'insumos_productos' producto.id 0 %}" style="background-color: #23434F" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>             
            <a style="background-color:#078d65" class="btn btn-success"><i class="fa-solid fa-plus"></i></a></td>        
          </tr>
        
        {% endfor %}
      


    </tbody>



    
</table>
{% endblock %}