{% extends "cliente/dashboard.html" %}

{% block title %}Pedidos{% endblock %}

{% block username %}{{ datos.nombre }}{% endblock  %}

{% block content %}
{% if notificacion %}
<script>
  Swal.fire({
    position: "top-end",
    icon: "{{notificacion.icono}}",
    title: "{{notificacion.title}}",
    text:"{{notificacion.mensaje}}",
    showConfirmButton: false,
    timer: 3000
  });
</script>
{% endif %}

<div>
    <div style="display:flex; justify-content: space-between; align-items: flex-end">
        <h1 style="font-size: 50px; font-weight:bold">Pedidos</h1>
      </div>  

    <form method="post" action="{% url 'dashboard_pedidos' %}">
        {% csrf_token %}
        <div style="display:flex; justify-content: space-between; align-items: flex-end">
            <div>
                <span>Filtro</span>
                <i class="pi pi-filter"></i>
                <input type="text" class="filtrodash" id="globalFilter" style="width: 300px;" name="filtro_pedido" placeholder="Filtrar usuarios por documento" />
                <input  style="background-color: #23434F" type="submit" id="globalFil" style="width: 160px;" value="Buscar" class="btn btn-success"  />
                
            </form>
            </div>
            <form action="{% url 'pdf_dashboard' %}" method="post">
                {% csrf_token %}
            <div style="display:flex; align-items:flex-end; gap: 20px">
                <div class="form-group" style="margin-bottom:10px">
                    <label for="f_vencimiento">Fecha inicial:</label>
                    <input type="date" class="form-control" id="f_vencimiento" name="f_inicial" style="background-color: white; border-style: none" required>
                </div>
                <div class="form-group" style="margin-bottom:10px">
                    <label for="f_vencimiento">Fecha fin:</label>
                    <input type="date" class="form-control" id="f_vencimiento" name="f_fin" style="background-color: white; border-style: none" required>
                </div>
                <div class="form-group" style="margin-bottom:10px">
                    <label for="f_vencimiento">Estado:</label>
                    <select name="estado" class="form-control">
                        <option value="1">Entregado</option>
                        <option value="2">En espera</option>
                        <option value="3">Preparando</option>
                        <option value="4">Cancelado</option>
                    </select>
                </div>
                <div>
                <button type="submit" class="btn btn-primary" style="margin-bottom: 10px; height:45px; background-color: #078d65">Generar PDF</button> 
            </div>
             </form>
            </div>
            

          </div>
        
    
    

</div>

<table id="datatable">
    <thead style="background-color: #23434F">
        <tr>
            <th class="cabecera">N° Pedido</th>            
            <th class="cabecera">Fecha Pedido</th>
            <th class="cabecera">Estado Pedido</th>
            <th class="cabecera">Total</th>
            <th class="cabecera" style="border-top-right-radius: 10px;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        
    {% for pedido_producto in entidad %}
    <form method="post" action="{% url 'estado_pedido' pedido_producto.id %}">
        {% csrf_token %}
        <tr>
          <td>{{pedido_producto.id}}</td>
          <td>{{pedido_producto.fecha_pedido}}</td>
          <td>
            
            {% if pedido_producto.id == id.id %}               
                <select name="estado_pedido" >
                    {% for estado in estados %}
                    <option value="{{estado.id}}" 
                    {% if estado.id == pedido_producto.fk_estado.id %}                
                        selected
                    {% endif %}>{{estado.tipo_estado}}</option>
                    {% endfor %}
                </select>

            {% else %}

                <select name="estado_pedido" disabled>
                    {% for estado in estados %}
                    <option value="{{estado.id}}" 
                    {% if estado.id == pedido_producto.fk_estado.id %}                
                        selected
                    {% endif %}>{{estado.tipo_estado}}</option>
                    {% endfor %}
                </select>

            {% endif %}
                    
                
          </td>
          <td>{{pedido_producto.total}}</td>
          <td>

            <a style="background-color: #23434F" href="{% url 'dashboard_pedidos_producto' pedido_producto.id %}" class="btn btn-dark"><i class="fa-solid fa-eye"></i></a>        
            
            {% if pedido_producto.id == id.id %}            
            <button type="submit" style="background-color: #23434F" class="btn btn-dark"><i class="fa-solid fa-check"></i></button>   
            {% else %}
            <a class="btn btn-dark" href="{% url 'estado_pedido' pedido_producto.id %}"><i class="fa-solid fa-pencil"></i></a>
        </td>
        </tr>
    </form>
    {% endif %}
    </tbody>


{% endfor %}

    
</table>

{% endblock %}
