{% extends "cliente/dashboard.html" %}

{% block username %}{{ datos.nombre }}{% endblock  %}

{% block title %}Usuarios{% endblock  %}
{% load static %}



{% block content %}
{% if notificacion %}
<script>
  Swal.fire({
    position: "top-end",
    icon: "{{notificacion.icono}}",
    title: "{{notificacion.title}}",
    text:"{{notificacion.mensaje}}",
    showConfirmButton: false,
    timer: 3000
  });
</script>
{% endif %}
<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9" style="height:800px;">
        <div class="row no-gutters justify-content-center" style="padding:0;"> <!-- Modificación aquí -->
            <a style="color:black;" href="{% url 'dashboard_usuarios' %}"><i class="fa-solid fa-arrow-left" style="position:relative; top:50px; left:50px;cursor: pointer; font-size:25px"></i></a>
            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1" style="padding-top: 1px;height:100%;    ">
                
                <div class="row justify-content-center text-center" style="margin-bottom: 30px">
                    <h1 style="font-weight:bold; font-size:40px; overflow-y: hidden">Editar Usuario</h1>
                </div>
                <form class="contact-form form-validate" method="post" style="display:block" enctype="multipart/form-data" action="{% url 'editarUsuario' %}">
                    <div class="user--info" style="display:flex; justify-content:center;">                        
                            <input type="file" name="foto_perfil" id="fileInput" class="input-file" accept="image/*">
                            <label for="fileInput" class="file-label">
                              <div id="circle" class="file-circle">
                                <span class="icon">&#x1F4F7;</span> <!-- Emoji de cámara, puedes cambiarlo -->
                              </div>
                            </label>
                            <span id="fileName" class="file-name">Selecciona una imagen</span>                          
                          
                    </div>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="documento">Documento</label>
                                <input type="text" class="form-control" id="documento" name="documento"  value="{{ datos.documento }}" style="background-color: white; border-style: none">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="Nombre" name="Nombre"  value="{{ datos.nombre }}" style="background-color: white; border-style: none">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="apellidos">Apellidos</label>
                                <input type="text" class="form-control" id="apellido" name="apellido"  value="{{ datos.apellidos }}" style="background-color: white; border-style: none">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control" id="direccion" name="direccion"  value="{{ datos.direccion }}" style="background-color: white; border-style: none">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="email">Correo Electronico</label>
                                <input type="text" class="form-control" id="email" name="email" value="{{ datos.email }}"  style="background-color: white; border-style: none">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="telefono">Telefono</label>
                                <input type="text" class="form-control" id="telefono" name="telefono"  value="{{ datos.telefono }}" style="background-color: white; border-style: none">
                            </div>                           
                        </div>

                    
    
                        <div class="row justify-content-center" style="padding-top: 20px; margin-bottom: 0px" >
                            <div class="col-sm-12 mb-3 text-center" >
                                <button type="submit" name="submit" class="btn btn-success">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="post" class="contact-form form-validate" action="{% url 'cambiar_pass' %}">
                    {% csrf_token %}
                    <div style="display: flex; gap:20px; align-items: flex-end;">
                    
                        <div class="form-group">
                            <label for="telefono">Contraseña actual:</label>
                            <input type="password" class="form-control" id="c_actual" name="actual"  style="background-color: white; border-style: none" required>
                        </div>                           
                    
                    
                        <div class="form-group">
                            <label for="telefono">Contraseña nueva:</label>
                            <input type="password" class="form-control" id="c_nueva" name="nueva"  style="background-color: white; border-style: none" required>
                        </div>                           
                    
                    
                        <div class="form-group">
                            <input type="submit" class="form-control" value="Cambiar contraseña" style="background-color: white; border-style: none" required>
                        </div>                           
                    
                </div>
                </form>
            </div>
            
            <!-- End Contact Form Wrapper -->
            {% block paginacion %}{% endblock  %}
        </div>
    </div>
</div>
{% endblock  %}