@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
  font-family: 'ui-sans-serif', sans-serif;
}

* {
  font-family: 'ui-sans-serif', sans-serif;
  margin: 0;
  /*Establecer margenes alrededor de los elementos*/
  padding: 0;
  /*Espacio de relleno. No habrá espacio en blanco*/
  border: none;
  /*Bordes de los elementos. En este caso, no habrá*/
  outline: none;
  /*No habrá contorno alrededor de ningún elemento*/
  box-sizing: border-box;
  /*Controla el ancho y la altura del elemento*/
}

:root {
    --color-fondo: #0F0F0F;
    --color-fondo2: #F3F3F3;
    --color-fondo3: #E4E4E4;
    --color-texto: #F3F3F3;
    --color-texto2: #23434F;
    --color-texto3: #0F0F0F;
    --color-botonesPrimarios: #C0252A;
    /*--color-botonesPrimarios:#C21015;
    
    /*--color-botonesPrimarios:#CD3415;*/
    --color-botonesSecundarios: #17a17c;
    --color-HoverBotones: #127e5d;
    --color-iconos: #0F0F0F;
  }

h1 {
  font-family: 'ui-sans-serif', sans-serif;

}

h2, h3, h4, h5, h6 {
  font-family: 'ui-sans-serif', sans-serif;
}

p {
  font-family: 'ui-sans-serif', sans-serif;
}


input {
  font-family: 'ui-sans-serif', sans-serif;
}

select {
  font-family: 'ui-sans-serif', sans-serif;
}

option {
  font-family: 'ui-sans-serif', sans-serif;
}

span {
  font-family: 'ui-sans-serif', sans-serif;
}

body {
  background-color: var(--color-fondo);
  background-color: var(--color-fondo2);
  background-color: var(--color-botonesPrimarios);
  background-color: var(--color-botonesSecundarios);
  color: var(--color-iconos);
  color: var(--color-texto);
  color: var(--color-texto2);
  font-family: 'ui-sans-serif', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

body{
    background-color: #c9d6ff;
    background: var(--color-fondo2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{ /*Para editar el tamaño */
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 850px;
    max-width: 100%;
    min-height: 480px;
    height: 80vh;
    border-radius: 18px;
}


.container h1{
    font-weight: bold;
}

.container h4{
    font-weight: bold;
    font-size: 18px;
}


.container p{
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container .botones, /*boton registrarse como input*/ 
.container button {
    background-color: var(--color-botonesSecundarios);
    color:var(--color-texto);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 10px;
    cursor: pointer;
}

.container .botones:hover{
    background-color: var(--color-HoverBotones);
    transition: 0.5s;

  }

.container .botones.hidden,
.container button.hidden
{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.container select{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.container label{
  font-size: 11px;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}



.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: var(--color-fondo);
    height: 100%;
    background: var(--color-fondo);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}